.footer {
  position: relative;
  background: #F6F6F6;
  color: #434242;
  font-size: 12px;
  line-height: 16px;
  z-index: 99;

  &-container {
    position: relative;
    padding: 44px 0 40px 0;
    margin: 0 auto;
  }

  &-logo {
    width: 138px;
    position: absolute;
    top: 33px;
    left: $margin-large;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-links {
    position: relative;
    top: 2px;
    text-align: center;
    font-weight: bold;
    a {
      display: inline-block;
      padding: 0 0 0 25px;
      color: #434242;

      &:hover {
        color: #000;
      }
    }
  }

  &-copy {
    position: absolute;
    right: $margin-large;
    top: 46px;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    &-container {
      padding: 57px 30px 34px 270px;
    }

    &-logo {
      top: 50px;
      left: 30px;
    }

    &-links {
      text-align: center;
      overflow: hidden;

      a {
        display: block;
        padding: 0;
        margin-bottom: 18px;
        margin-right: $margin-medium;
        float: left;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-copy {
      left: 30px;
      top: 96px;
      right: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &-container {
      padding: 50px 18px 160px;
    }

    &-logo {
      width: 120px;
      position: absolute;
      top: 37px;
      left: $margin-large;
    }

    &-links {
      a {
        width: 50%;
      }
    }

    &-copy {
      left: 18px;
      top: auto;
      bottom: 50px;
      right: auto;
    }
  }
}

@media screen and (max-width: 460px) {
  .footer {
    &-links {
      a {
        width: 100%;
      }
    }
  }
}