$hamburger-width: 27px;
$hamburger-stroke-width: 4px;
$hamburger-stroke-gap: 9px;
$hamburger-transition: top 0.2s ease 0.05s, transform 0.3s ease 0.35s, width 0s ease 0.35s;
$hamburger-transition-two: top 0.2s ease 0.55s, transform 0.5s ease 0s, width 0s ease 0.35s;

.header_empty {
  width: 100%;
  height: 100px;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  ul, li {
    margin: 0;
    padding: 0;
  }

  &.headroom--unpinned {
    @include translate(0, -100%);
    @include box-shadow(0 0 0 #000);
  }

  &-content {
    height: 100%;
    position: relative;
    z-index: 9999;
    @include box-shadow(2px 2px 15px rgba(0,0,0,0.1));

    &-burger {
      float: left;
      height: 100%;
      margin-left: 32px;
      position: relative;
      width: $hamburger-width;

      &-click {
        height: $hamburger-width;
        position: relative;
        top: 43px;
        width: $hamburger-width;

        .hamburger, .hamburger::before, .hamburger::after {
          background: #000 none repeat scroll 0 0;
          box-sizing: content-box;
          content: "";
          cursor: pointer;
          display: block;
          height: $hamburger-stroke-width;
          position: absolute;
          text-align: center;
          transition: $hamburger-transition-two;
          width: $hamburger-width;
        }

        .hamburger {
          background-clip: content-box;
          border-bottom: $hamburger-stroke-width solid transparent;
          border-top: $hamburger-stroke-width solid transparent;
          top: 0;
        }

        .hamburger::before {
          top: -1 * $hamburger-stroke-gap;
        }

        .hamburger::after {
          top: $hamburger-stroke-gap;
        }

        .hamburger.open {
          width: 0;
        }

        .hamburger.open::before {
          top: 0;
          transform: rotate(45deg);
        }

        .hamburger.open::after {
          top: 0;
          transform: rotate(-45deg);
        }

        .hamburger.open, .hamburger.open::before, .hamburger.open::after {
          transition: $hamburger-transition;
        }
      }
    }

    &-logo {
      float: left;
      margin-left: $margin-medium;
      padding-top: 28px;
      width: 158px;
      position: relative;
      top: -2px;

      img {
        display: block;
        height: 36px;
        width: 100%;
      }
    }
    &-text {
      position: relative;
      top: 39px;
      z-index: -1;
    }

    &-label, &-skip {
      display: inline-block;
      vertical-align: top;
    }

    &-skip {
      right: $margin-medium;
      position: absolute;
      @include type("medium-small");
    }

    &-label {
      @include type("medium");
      margin-left: 13px;
    }

    &-skip-icon {
      height: 18px;
      top: 3px;
      position: relative;
      margin-left: 4px;
    }
  }

  &-nav {
    border-top: 1px solid $gray-light;
    @include transition(all 0.4s);
  }

  &.open {
    &.headroom--unpinned {
      .header-nav {
        @include translate(0, -100%);
      }
    }

    .header-nav {
      @include translate(0, 0);
    }

    .header-content {
      &-burger {
        &-click {
          .hamburger {
            width: 0;
          }

          .hamburger::before {
            top: 0;
            transform: rotate(45deg);
          }

          .hamburger::after {
            top: 0;
            transform: rotate(-45deg);
          }

          .hamburger,
          .hamburger::before,
          .hamburger::after {
            transition: $hamburger-transition;
          }
        }
      }
    }
  }

  &-nav {
    position: absolute;
    background: #fff;
    overflow: hidden;
    @include translate(0, -100%);
    @include box-shadow(0 0 0 #000);

    ul {
      margin: 0;
      max-height: calc(100vh - 100px);
      overflow: auto;
      width: 320px;

      li {
        a {
          border-bottom: 1px solid $gray-light;
          clear: both;
          color: #333333;
          display: block;
          font-size: 14px;
          line-height: 20px;
          padding: 17px 32px;
          white-space: nowrap;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

  &-nav_cover {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 758px) {
    height: 70px;

    &-content-skip {
      display: none;
    }

    &-content-burger {
      margin-left: $margin-small;
      top: -11px;

      @include scale(0.85);
    }

    &-content-logo {
      width: 128px;
      margin-left: 15px;
      padding-top: 17px;
      top: -4px;
    }

    &-content-text {
      top: 27px;
      left: 0;
    }

    &-content-label {
      @include type("medium-small");
      font-size: 16px;
    }
  }

  @media (max-width: 800px) {
    &-content-skip {
      top: 3px;
    }
  }
}
