.ar-slide {
  width: 100vw;
  height: 100vh;
  background: #eee;
  border-bottom: 1px solid red;
  position: relative;

  &-header {
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
  }

  &-sub-header {
    font-size: 16px;
  }
}