#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: transparent;
  border: 1px solid #fff;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  border-width: 6px;
}

#fp-nav {
  padding-top: 50px;
}