!!! 5
%head
  %meta{ :charset => "utf-8" }
  %meta{"content"=>"IE=edge,chrome=1", "http-equiv"=>"X-UA-Compatible" }
  %meta{name: "viewport", content: "width=device-width,initial-scale=1,maximum-scale=1" }
  %link{ :rel => "shortcut icon", :href => "favicon.ico" }
  %title= "Verizon Annual Report 2016"
  %meta{ name: "author", content: "VerizonAR16" }

  -# facebook open graph meta tags
  %meta{ property: "og:site_name", content: "VerizonAR16" }
  %meta{ property: "og:title", content: "VerizonAR16" }
  %meta{ property: "og:image", content: "images/share-image.png" }
  %meta{ property: "og:description", content: current_page.data.subtitle? ? current_page.data.subtitle : "VerizonAR16" }
  %meta{ property: "og:image:width", content: "1280" }
  %meta{ property: "og:image:height", content: "580" }

  %meta{ property: "twitter:card", content: "summary_large_image" }
  %meta{ property: "twitter:site", content: "@verizon" }
  %meta{ property: "twitter:title", content: "VerizonAR16" }
  %meta{ property: "twitter:description", content: current_page.data.subtitle? ? current_page.data.subtitle : "VerizonAR16" }

  %link(href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.css" media="screen" rel="stylesheet")
  %link(href="css/main.css" media="screen" rel="stylesheet")
%body
  = yield
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
  = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
  %script( src="js/index.js" type="text/javascript" )