- lvl1 = "ceo-letter"
.header_empty
= partial(:"header", :locals => { :lvl1 => lvl1 })
.ar_highlights
  .intro
    .intro-content
      %h1
        Financial and <br> operational highlights
      %span as of December 31, 2016

  .chart
    .chart-header
      %h2 Dividends Declared per Share
    .chart-items
      .chart-items-bar(data-value="$2.285")
        .chart-items-bar-fill
          .chart-items-bar-value $2.285
        .chart-items-bar-year 2016
      .chart-items-bar(data-value="$2.230")
        .chart-items-bar-fill
          .chart-items-bar-value $2.23
        .chart-items-bar-year 2015
      .chart-items-bar(data-value="$2.160")
        .chart-items-bar-fill
          .chart-items-bar-value $2.16
        .chart-items-bar-year 2014

  .numbers
    .numbers-line
      %b $3.21
      %span reported earnings per share
    .numbers-line
      %b $3.87
      %span adjusted earnings per share
      (non-GAAP)
    .numbers-line
      %b $126.0 billion
      %span in consolidated revenues
    .numbers-line
      %b $22.7 billion
      %span in cash flow from operations
    .numbers-line
      %b 10th
      %span consecutive year of annual dividend increases
    .numbers-line
      %b 114.2 million
      %span wireless retail connections
    .numbers-line
      %b 1.01%
      %span wireless retail postpaid churn
    .numbers-line
      %b $89.2 billion
      %span in wireless revenues
    .numbers-line
      %b 92.5 million
      %span retail postpaid 4G LTE connections
    .numbers-line
      %b 5.7 million
      %span Fios Internet subscribers
    .numbers-line
      %b 4.7 million
      %span Fios Video subscribers
    .numbers-line
      %b 4.6% growth
      %span in Fios revenues
  .footnotes
    %p Note: Certain reclassifications have been made, where appropriate, to reflect comparable operating results.
    %p See our Investor website (www.verizon.com/about/investors) for reconciliations to U.S. generally accepted accounting principles (GAAP) for the non-GAAP financial measures included in this annual report.
    %p
      Forward Looking Statements
      %br>/
      In this report, we have made forward-looking statements. These statements are based on our estimates and assumptions and are subject to risks and uncertainties. Forward-looking statements include the information concerning our possible or assumed future results of operations. Forward-looking statements also include those preceded or followed by the words “anticipates,” “believes,” “estimates,” “hopes” or similar expressions. For those statements, we claim the protection of the safe harbor for forward-looking statements contained in the Private Securities Litigation Reform Act of 1995. The following important factors, along with those discussed in our filings with the Securities and Exchange Commission (the “SEC”), could affect future results and could cause those results to differ materially from those expressed in the forward-looking statements: adverse conditions in the U.S. and international economies; the effects of competition in the markets in which we operate; material changes in technology or technology substitution; disruption of our key suppliers’ provisioning of products or services; changes in the regulatory environment in which we operate, including any increase in restrictions on our ability to operate our networks; breaches of network or information technology security, natural disasters, terrorist attacks or acts of war or significant litigation and any resulting financial impact not covered by insurance; our high level of indebtedness; an adverse change in the ratings afforded our debt securities by nationally accredited ratings organizations or adverse conditions in the credit markets affecting the cost, including interest rates, and/or availability of further financing; material adverse changes in labor matters, including labor negotiations, and any resulting financial and/or operational impact; significant increases in benefit plan costs or lower investment returns on plan assets; changes in tax laws or treaties, or in their interpretation; changes in accounting assumptions that regulatory agencies, including the SEC, may require or that result from changes in the accounting rules or their application, which could result in an impact on earnings; the inability to implement our business strategies; and the inability to realize the expected benefits of strategic transactions.

= partial(:"footer", :locals => { :lvl1 => lvl1 })
