- lvl1 = "home"
= partial(:"header", :locals => { :lvl1 => lvl1 })
.ar
  #fullpage
    .section
      .video.video__1
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                A better future for everyone
              .video-text-link
                %a(href="letter.html")
                  Skip to Chairman’s letter
                  %img(src="images/home/more_red.svg" alt="")

      .video-background
        .video-foreground

    .section
      .video.video__2
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                Serving the digital customer
              .video-text-content
                As technology changes, so do  the needs of our customers.  Our investments and assets position us uniquely in the digital world and enable us to reach customers where they are.
      .video-background
        .video-foreground
    .section
      .video.video__3
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                Network superiority
              .video-text-content
                We believe a better network matters. <nobr>That’s why</nobr> we work continually to evolve <nobr>next generation</nobr> networks.
      .video-background
        .video-foreground
    .section
      .video.video__4
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                Areas of growth
              .video-text-link
                Verizon has become a major force in the Internet of Things marketplace and we’ve dramatically transformed our telematics capabilities.

      .video-background
        .video-foreground

    .section
      .video.video__5
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                Solving social problems
              .video-text-content
                At Verizon, we’ve been building and advancing digital infrastructure and solutions for decades. Building a more connected community for all is what we do best.
      .video-background
        .video-foreground
    .section
      .video.video__6
        .video-bg
          .video-bg-play
        .dtable
          .dcell
            .video-text
              %h2.video-text-caption
                The evolution of Verizon
              .video-text-content
                Verizon is a global technology company delivering the promise of the digital world to millions of customers every day. Watch this video to see how it all began.
      .video-background
        .video-foreground

    .section.fp-auto-height
      .footlinks
        .footlinks-item
          %h3 Financial highlights
          %p We’ve stepped up to the challenge of positioning Verizon to be an innovator in the digital-first mobile future while delivering another year of strong operating and financial performance.
          %a(href="financial-highlights.html")
            View our 2016 highlights
            %img(src="images/home/more_red.svg" alt="")
        .footlinks-item
          %h3 Corporate responsibility highlights
          %p We make it our business to use our assets to make the world a better place for us, and for future generations.
          %a(href="#")
            Our goals and progress
            %img(src="images/home/more_red.svg" alt="")
        .footlinks-item
          %h3 Annual shareholder meeting
          %p Verizon’s annual shareholder meeting was held on May 5, 2017 in Lorem ipsum dolor sit amet neque sit lectus.
          %a(href="../AM/")
            Learn more
            %img(src="images/home/more_red.svg" alt="")

      = partial(:"footer", :locals => { :lvl1 => lvl1 })
