@import "am-old";

$mobile-hero-height: 310px;

// Globals fixing font sizes and grid framework cruft
.am-container {
  * {
    font-weight: bold;
  }

  em {
    font-weight: normal;
  }

  .container {
    max-width: 100%;
  }

  .modal-p {
    font-weight: normal;
  }
}

// Voting modal
.am-voting-modal {
  &-col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $margin-medium-large;

    &:nth-child(3) {
      padding-right: $margin-medium / 2;
    }

    &:nth-child(4) {
      padding-left: $margin-medium / 2;
    }
  }

  .modal-p {
    @include type("body");
  }

  h2 {
    @include type("medium");
  }

  .arrow-link {
    display: block;
    margin: $margin-small 0;
  }
}

// Hero Unit
.am-info {
  margin-top: $header-height;
  padding: $margin-large;
  height: auto;

  &-when {
    margin-top: 28px;
  }

  &-countdown {
    top: $margin-large;
    right: $margin-large;
  }

  &-countdown-days-header,
  &-countdown-hours-header,
  &-countdown-minutes-header,
  &-countdown-seconds-header {
    line-height: 10px;
    position: relative;
    top: 0px;
  }

  &-bg {
    background-position: center 35%;

    &:before {
      content: '.';
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    }
  }
}

// Download buttons
.am-download {
  padding: $margin-medium 0 0 0;
  position: relative;
  margin-top: 0;
}

// Video modules
.am-video {
  padding-top: $margin-larger;

  &-content-preview {
    margin-top: 0;
  }

  &__rtl &-text {
    float: right;
    margin-right: 3px;
  }

  &-text-quote {
    margin: 0 0 -37px;
    position: relative;
    top: 5px;

    &:last-child {
      margin-top: 4px;
      top: -5px;
    }
  }

  &-content-author {
    @include type("medium-body");

    font-weight: bold;
    margin-top: 16px;
  }

  &-text {
    width: 370px;
    position: relative;
    top: -20px;
  }

  &-text p {
    @include type("large");

    line-height: 34px;
  }
}

// Charts
.am-stats {
  margin-top: $margin-larger;
  padding: $margin-large 0;

  &-chart-header {
    height: 90px;
  }
}

// Agenda and Voting Recommendations
.am-agenda {
  margin-top: $margin-larger;
  padding-top: 0;

  &-list {
    margin-top: $margin-medium-large;
    padding-top: 0;
    max-width: 1062px;
    margin: auto;
  }

  &-list-item {
    margin-top: $margin-medium;
    padding: $margin-medium $margin-medium ($margin-medium + 3px) 110px;

    &-icon {
      top: $margin-medium;
    }

    &-num {
      top: $margin-medium;
      font-weight: normal;
    }

    &-header {
      margin-top: 22px;

      @include type("medium");
    }

    &-content span {
      font-weight: normal;
    }

    &-content .col-xs-6 {
      padding: 0 ($margin-medium / 2);

      @include type("medium-small");

      span {
        @include type("body");
      }

      p, span {
        padding: 0;
      }
    }
  }

  &-list-image-names {
    padding: $margin-small;

    p {
      margin-bottom: 1em;
    }

    b em {
      font-weight: bold;
    }

    span {
      font-weight: normal;
    }
  }

  &-download .button {
    float: right;
  }
}

// Bottom vote button
.am-vote {
  padding: $margin-medium-large 0 $margin-larger 0;

  &-link {
    width: 165px;
  }
}

@media (max-width: $ipad) {
  .am-info {
    padding: $margin-medium-large;

    &-countdown {
      top: $margin-medium-large;
      right: $margin-medium-large;
    }

    &-header,
    &-countdown-days-content,
    &-countdown-hours-content,
    &-countdown-minutes-content,
    &-countdown-seconds-content,
    &-countdown-colon {
      @include type("larger");
    }

    &-countdown-days,
    &-countdown-hours,
    &-countdown-minutes,
    &-countdown-seconds {
      width: 80px;
    }
  }

  .am-container .container {
    max-width: 100%;
    padding: 0 $margin-large;
  }

  .am-video {
    overflow: visible;

    &-content {
      width: 100%;
      margin: 0 !important;
      float: none !important;

      &-preview {
        padding-top: 56.25%;
        width: 100%;

        iframe {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &-text {
      float: none;
      width: 100%;
      margin-top: $margin-medium;

      &-quote, p {
        text-align: left !important;
      }
    }
  }

  .am-agenda-list {
    &-image {
      width: 100%;
      height: auto;

      img {
        width: 100%;
      }
    }

    &-image-links {
      display: none;
    }
  }

  .am-stats {
    &-header {
      width: 100%;

      h2 {
        max-width: 100%;
        margin-bottom: $margin-medium;

        @include type("large");
      }
    }

    &-chart {
      padding-left: 0;
      width: 33.3333%;

      &:nth-child(2) {
        padding-right: $margin-medium / 1.5;
      }

      &:nth-child(3) {
        padding-right: $margin-medium / 3;
        padding-left: $margin-medium / 3;
      }

      &:nth-child(4) {
        padding-left: $margin-medium / 1.5;
      }
    }

    &-chart-header {
      height: 150px;

      @include type("medium");
    }
  }
}

@media (max-width: $ipad-tall) {
  .am-container .container {
    max-width: 100%;
    padding: 0 $margin-medium-large;
  }
}

@media (max-width: $iphone) {
  .am-container .container {
    padding: 0 $margin-small;
  }

  .am-info {
    margin-top: $header-height-mobile;
    height: $mobile-hero-height;
    margin-bottom: (62px + $margin-medium) + $margin-medium;
    padding: $margin-small;

    &-countdown {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      top: $mobile-hero-height + $margin-medium;
    }

    &-header {
      @include type("large");
    }
    &-when, &-where {
      @include type("medium-small");
      margin-top: $margin-small;
    }

    &-bg {
      background-size: 200%;
      background-position: center 40%;

      &:before {
        @include linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
      }
    }

    &-header,
    &-countdown-days-content,
    &-countdown-hours-content,
    &-countdown-minutes-content,
    &-countdown-seconds-content,
    &-countdown-colon {
      @include type("large");
    }

    &-countdown-days,
    &-countdown-hours,
    &-countdown-minutes,
    &-countdown-seconds {
      width: 70px;
    }

    &-countdown-days-header,
    &-countdown-hours-header,
    &-countdown-minutes-header,
    &-countdown-seconds-header {
      @include type("body");
      font-weight: bold;
    }
  }

  .am-video-text {
    padding: 0;
    p {
      @include type("medium");
    }
  }

  .am-stats .container {
    max-width: 400px;
  }

  .am-download {
    margin: 0;
    padding: 0;

    &-link:first-child {
      margin-bottom: $margin-small;
    }
  }

  .am-stats-chart {
    float: none;
    width: 100%;
    margin-top: $margin-large;
    padding: 0 !important;

    // Override column layout
    &-donut {
      margin: auto;
    }

    &-header {
      height: auto;

      @include type("medium-small");
    }
  }

  .am-stats-header h2 {
    @include type("medium");
  }

  .am-voting-modal-col {
    width: 100%;
    padding: 0 !important; // Override
    margin-bottom: $margin-medium;
  }
}