.ar {
  padding-top: $header-height;

  &-dots {
    position: fixed;
    right: $margin-medium;
    top: 50%;
    z-index: 10;
    margin-top: 25px;

    @include translate(0, -50%);
  }

  &-dot {
    border: 2px solid white;
    margin-top: 10px;
    height: 12px;
    width: 12px;
    cursor: pointer;

    @include border-radius(50px);

    &-active {
      background: white;
    }
  }

  &-dot-container {
    width: 50px;
  }
}

.ar-slide, .ar-slide:before, .ar-slide-video {
  height: calc(100vh - #{$header-height});
}

.ar-slide {
  width: 100vw;
  background: black;
  position: relative;
  overflow: hidden;

  &:before {
    // Scrim
    width: 70vw;
    height: 100%;
    content: '.';
    color: transparent;
    position: absolute;
    z-index: 1;

    @include linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }

  &-hero {
    background-image: url(../images/home/hero.jpg);
    background-size: cover;
    background-position: center center;

    &:before {
      display: none;
    }

    &-link {
      @include type("medium");

      color: white;
      display: block;
      margin-top: $margin-medium;
    }

    &-icon {
      position: relative;
      top: 3px;
      margin-left: 8px;
      height: 22px;
    }
  }

  &-header {
    position: absolute;
    top: 50%;
    left: $margin-large;
    color: white;
    font-weight: bold;
    z-index: 1;
    margin: 0;

    @include translate(0, -50%);
    @include type("largest");
  }

  &-sub-header {
    margin-top: $margin-medium;

    @include type("medium");
  }

  &-header, &-sub-header {
    max-width: 475px;
  }

  &-video {
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    object-fit: cover;
    min-height: 100vh;
    min-width: 100vw;

    @include translate(-50%, 0);
  }

  &-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 65px;
    cursor: pointer;

    @include translate(-50%, -50%);
  }

  &-video-main {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
  }

  &-video-main &-video {
    background: black;
    min-height: auto;
    min-width: auto;
    object-fit: contain;

    &:before {
      display: none;
    }
  }

  &-video-controls {
    position: absolute;
    bottom: $margin-medium;
    left: $margin-medium + 2px;
    z-index: 2;

    &-play, &-mute, &-pause, &-sound, &-close {
      height: 30px;
      width: 53px;
      cursor: pointer;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center;
    }

    &-close {
      width: 27px;
    }

    &-mute {
      height: 35px;
      position: relative;
      top: 3px;
    }

    &-play, &-mute {
      display: none;
    }

    &-container {
      height: 30px;
      width: 50px;
    }

    &-close {
      position: absolute;
      top: $margin-medium;
      left: $margin-medium + 2px;
    }
  }

  &-play-mobile {
    display: none;
    margin-top: $margin-small;

    @include type("medium");

    img {
      position: relative;
      top: 3px;
      height: 21px;
      left: 6px;
    }
  }
}

.ar-footlinks {
  margin: $margin-large;
}

.ar-footlink {
  width: 33%;
  display: inline-block;
  vertical-align: top;

  &:nth-child(1) {
    padding-right: $margin-medium;
  }

  &:nth-child(2) {
    padding-left: $margin-medium;
    padding-right: $margin-medium;
  }

  &:nth-child(3) {
    padding-left: $margin-medium;
  }

  &-header {
    margin-bottom: $margin-medium;

    @include type("large");
  }

  &-p {
    margin-bottom: $margin-medium;

    @include type("body");
  }

  &-a {
    @include type("medium-small");

    &-icon {
      height: 18px;
      position: relative;
      top: 3px;
      left: 5px;
    }
  }
}

@media (max-width: 900px) {
  .ar-slide-play-button {
    left: 75%;
  }

  .ar-footlink {
    width: 100%;
    padding: 0 0 $margin-medium 0 !important;

    // Override nth-child selector
    border-bottom: 1px solid $gray-medium;
    margin-bottom: $margin-medium;
  }
}

@media (max-width: 1024px) {
  .ar-slide {
    &-header {
      max-width: 380px;
      left: $margin-medium * 2;

      @include type("larger");
    }

    &-sub-header {
      margin-top: $margin-small;

      @include type("medium-small");
    }
  }

  .ar-footlink-a {
    font-size: 16px;
  }

  .ar-footlink-p {
    @include type("body-small");
  }

  .ar-footlink-header {
    @include type("medium");
  }
}

@media (max-width: 768px) {
  .ar {
    padding-top: $header-height-mobile;

    &-dots {
      display: none;
    }
  }

  .ar-slide, .ar-slide:before, .ar-slide-video {
    height: calc(100vh - #{$header-height-mobile});
  }

  .ar-slide-hero-link {
    margin-top: $margin-small;

    @include type("medium");
  }

  .ar-footlinks {
    margin: ($margin-medium * 2)
  }

  .ar-slide {
    &:before {
      width: 105vw;
    }

    &-hero {
      background-position: 70% center;
    }

    &-header {
      width: calc(100% - #{$margin-small * 2});
    }

    &-sub-header {
      margin-top: $margin-small;
    }

    &-play-button {
      display: none;
    }

    &-play-mobile {
      display: block;
    }

    &-video {
      width: 100vw;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 667px) {
  .ar-slide {
    &-header {
      left: $margin-small;

      @include type("large");
    }

    &-sub-header {
      left: $margin-small;

      @include type("medium-small");
    }

    &-play-mobile {
      @include type("medium-small");
    }
  }
}