%footer.footer
  .container
    .footer-links
      %a(href="#") Download Proxy
      %a(href="#") Investor Relations
      %a(href="#") Digital Annual Report
      %a(href="#") Download Annual Report
      %a(href="#") Corporate Responsibility
      %a(href="#") Digital Corporate Responsibility Report
    .footer-logo
      %img(alt="Verizon 2016" src="images/header/logo.svg")
    .footer-copy &copy; 2016 Verizon
    .footer-privacy
      %em Privacy information lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit lectus, elementum sed arcu vitae, dapibus elementum quam.