.dtable{display:table;width:100%;height:100%;position:relative;}
.dcell{display:table-cell;width:100%;height:100%;vertical-align:middle;padding-top:100px;}


.video{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;
	&-bg{position:absolute;left:0;top:0;right:0;bottom:0;background:center center no-repeat;@include background-size(cover);
		&-play{display:none;width:78px;height:78px;position:absolute;left:50%;top:50%;margin:11px 0 0 -39px;background:center center no-repeat url(../images/home/play.svg);}
	}
	&-text{position:relative;display:inline-block;font-size:24px;line-height:30px;max-width:510px;margin-left:90px;color:#fff;font-weight:100;
		h2{margin-top:0;}
		&-caption{font-size:60px;line-height:62px;margin-bottom:40px;}
		&-link{
			a{color:#fff;
				img{margin-left:9px;height:20px;vertical-align:baseline;margin-bottom:-2px;@include transition(.2s);}
			}
			a:hover img{@include translate(3px,0)}
		}
	}
	&__1 .video-bg{background-image:url(../images/home/videos/v1.jpg);}
	&__2 .video-bg{background-image:url(../images/home/videos/v2.jpg);}
	&__3 .video-bg{background-image:url(../images/home/videos/v3.jpg);}
	&__4 .video-bg{background-image:url(../images/home/videos/v4.jpg);}
	&__5 .video-bg{background-image:url(../images/home/videos/v5.jpg);}
	&__6 .video-bg{background-image:url(../images/home/videos/v6.jpg);}
}



@media screen and (max-width: 1300px) {
	.video{
		&-text{margin:0;position:absolute;bottom:47px;right:30px;left:30px;max-width:600px;}
	}
}
@media screen and (max-width: 767px) {
	.video{
		&-text{font-size:18px;line-height:20px;margin:0;position:absolute;bottom:47px;right:30px;left:30px;
			&-caption{font-size:36px;line-height:38px;margin-bottom:15px;}
		}
	}
}

video{width:100%;height:100%;}