.static { position: static !important; }
.relative { position: relative !important; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


.h-space-10, .h-space-20, .h-space-30, .h-space-40, .h-space-50, .h-space-60 {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.h-space-10 { height: 10px; }
.h-space-20 { height: 20px; }
.h-space-30 { height: 30px; }
.h-space-40 { height: 40px; }
.h-space-50 { height: 50px; }
.h-space-60 { height: 60px; }

.pull-left { float: left; }
.pull-right { float: right; }

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}


.clearfix {
  clear: both;
  @include clearfix();
}
