// Colors
$gray-light: #f6f6f6;
$gray-medium: #dadada;
$red-primary: #CD040B;
$red-secondary: #a80309;
$red-tertiary: #990308;

// Breakpoints
$laptop: 1200px;
$ipad: 1024px;
$ipad-tall: 768px;
$iphone: 667px;

// Measurements
$header-height: 100px;
$header-height-mobile: 70px;
$margin-larger: 120px;
$margin-large: 90px;
$margin-medium-large: 50px;
$margin-medium: 30px;
$margin-small: 20px;

// Mixins
@mixin type($type) {
  @if $type == "largest" {
    font-size: 60px;
    font-weight: bold;
    line-height: 62px;
  } @else if $type == "larger" {
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
  } @else if $type == "largish" {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
  } @else if $type == "large" {
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
  } @else if $type == "medium" {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  } @else if $type == "medium-small" {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  } @else if $type == "medium-body" {
    font-size: 21px;
    line-height: 28px;
    font-weight: normal;
  } @else if $type == "mediumish-body" {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
  } @else if $type == "body" {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  } @else if $type == "body-small" {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
  }
  text-decoration: none;
}

// Globals
body {
  font-family: "NHaasGrotesk", Helvetica, Arial, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include box-sizing(border-box);
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
