@font-face {
  font-family: "NHaasGrotesk";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NHaasGroteskTXStd-55Rg-e1a14e2c.eot?#iefix") format("embedded-opentype"), url("../fonts/NHaasGroteskTXStd-55Rg-9299d815.otf") format("opentype"), url("../fonts/NHaasGroteskTXStd-55Rg-c9daa428.woff") format("woff"), url("../fonts/NHaasGroteskTXStd-55Rg-9ea3fce8.ttf") format("truetype"), url("../fonts/NHaasGroteskTXStd-55Rg-3a6526a6.svg#NHaasGroteskTXStd-55Rg") format("svg");
}

@font-face {
  font-family: "NHaasGrotesk";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/NHaasGroteskTXStd-75Bd-0b2e8ce9?#iefix") format("embedded-opentype"), url("../fonts/NHaasGroteskTXStd-75Bd-51d0d9a3.otf") format("opentype"), url("../fonts/NHaasGroteskTXStd-75Bd-5d3a325d.woff") format("woff"), url("../fonts/NHaasGroteskTXStd-75Bd-f88ef2c0.ttf") format("truetype"), url("../fonts/NHaasGroteskTXStd-75Bd-ac500704.svg#NHaasGroteskTXStd-55Rg") format("svg");
}
