$z-index: ("loader-overlay": 1, "loader-bg": 5, "loader-container": 10, "nav-index": 10, "nav-tabs-xs-overlay": 20);

$margin-medium: 30px;

 @mixin type($type) {
  @if $type == "largest" {
    font-size: 60px;
    line-height: 62px;
  } @else if $type == "large" {
    font-size: 30px;
    line-height: 32px;
  }
}
