%footer.footer
  .footer-container
    .footer-links
      %a(href="index.html") Home
      %a(href="letter.html") Chairman’s letter
      %a(href="financial-highlights.html") Financial highlights
      %a(href="#") Corporate responsibility highlights
      %a(href="am.html") Annual shareholder meeting
      %a(href="#") Downloads
    .footer-logo
      %img(alt="Verizon 2016" src="images/header/logo.svg")
    .footer-copy &copy; 2017 Verizon
