%header.header
  .header-content
    .header-content-burger
      .header-content-burger-click
        .hamburger
    %a.header-content-logo(href="index.html")
      %img(alt="Verizon 2016" src="images/header/logo.svg")
    .header-content-text
      .header-content-label
        - if lvl1 == 'home'
          2016 Annual Report
        - if lvl1 == 'am16'
          2016 Annual Meeting
      - if lvl1 == 'home'
        %a.header-content-skip{ href: "letter.html" }
          Skip to Chairman’s letter
          %img.header-content-skip-icon{ src:"images/home/more_red.svg" }


  %nav.header-nav
    %ul
      %li
        %a(href="index.html") Home
      %li
        %a(href="letter.html") Chairman’s letter
      %li
        %a(href="financial-highlights.html") Financial highlights
      %li
        %a(href="#") Corporate responsibility highlights
      %li
        %a(href="am.html") Annual shareholder meeting
      %li
        %a(href="#") Downloads

  - if lvl1 == 'am16'
    .header-am-vote
      = partial(:"am-vote")

  .header-nav_cover