- lvl1 = "home"
= partial(:"header", :locals => { :lvl1 => lvl1 })
.ar
  .ar-slide
    %h2.ar-slide-header
      A better future for everyone
    .ar-home-chairmans-letter
      %a(href="letter.html")
        Skip to Chairman’s letter
        %img(src="images/home/more_red.svg" alt="")

  .ar-slide
    %h2.ar-slide-header
      Serving the digital customer
      .ar-slide-sub-header As technology changes, so do  the needs of our customers.  Our investments and assets position us uniquely in the digital world and enable us to reach customers where they are.

  .ar-slide
    %h2.ar-slide-header
      Network superiority
      .ar-slide-sub-header We believe a better network matters. <nobr>That’s why</nobr> we work continually to evolve <nobr>next generation</nobr> networks.

    .ar-slide
    %h2.ar-slide-header
      Areas of growth
      .ar-slide-sub-header Verizon has become a major force in the Internet of Things marketplace and we’ve dramatically transformed our telematics capabilities.

  .ar-slide
    %h2.ar-slide-header
      Solving social problems
      .ar-slide-sub-header At Verizon, we’ve been building and advancing digital infrastructure and solutions for decades. Building a more connected community for all is what we do best.

  .ar-slide
    %h2.ar-slide-header
      The evolution of Verizon
      .ar-slide-sub-header erizon is a global technology company delivering the promise of the digital world to millions of customers every day. Watch this video to see how it all began.

= partial(:"footer", :locals => { :lvl1 => lvl1 })
