- lvl1 = "ceo-letter"
.header_empty
= partial(:"header", :locals => { :lvl1 => lvl1 })
.ar_letter
  .intro
    .intro-content
      .intro-play
      %h1
        We are united in our belief that better matters.
  .callout
    .callout-container
      %h2 Dear Shareholders,
      %p In one of the most dynamic business environments in memory, Verizon delivered solid results while continuing to transform for the digital-first marketplace. Our 2016 performance reflects the attributes that have become the hallmarks of Verizon: leadership in wireless and fiber networks, a growing base of loyal, high-quality customers, innovation in mobile and digital services, and investment in new sources of growth in the digital economy. We remain well-positioned for long-term profitable growth as we take advantage of the opportunities created by technology advances and growing demand for connected solutions.
  .letter-container
    .letter-container-section
      #aside1.aside
        .aside-block.aside-block__1
          %h3 Investing in superior networks
          %img(src="images/ceo/1.svg" alt="")
        .aside-block.aside-block__2
          %h3 Delivering for customers
          %img(src="images/ceo/2.svg" alt="")
      .letter-content
        %p The foundation of Verizon’s performance – in 2016, as in every year in our history – is our consistently superior network. This fact was confirmed by third-party studies such as the most recent RootMetrics® survey, which ranked Verizon the best wireless network in the U.S. in all six of its categories: overall performance, network reliability, network speed, data performance, call performance and text performance. This was the sixth consecutive time Verizon ranked #1 in the U.S., with an overall score of 93.9 percent. We have sustained our quality edge amid a period of extraordinary growth in 4G LTE wireless network usage, which was up 47 percent year over year in 2016, driven by surging demand for mobile video.
        %p In order to respond to our customers’ needs, we continue to evolve our network architecture to increase efficiency and provide the highest quality experience. Our superior 4G LTE Advanced wireless network will be our mainstay for years to come. We are constantly adding to its capacity to handle increased traffic and position ourselves for the future by deploying and recycling spectrum while building small cells at a significant reduction in cost.
        %p We lead the industry in the development of the next generation of wireless networks known as 5G, along with the ecosystem of products this exciting new technology will enable. With speeds of up to 1 gigabit per second – 100 times faster than current wireless technology – and latency that is literally faster than the blink of an eye, 5G will open new market opportunities in fixed broadband and the Internet of Things (IoT) – eventually impacting industry sectors across the global economy and creating an estimated $12.3 trillion in market opportunity by 2035.
        %p To prepare for these growth opportunities, we have created the largest 5G proving ground in the U.S. In 2016, we conducted successful technical trials of 5G infrastructure and will follow up in 2017 with pre-commercial pilots in 11 markets around the country in preparation for introducing fixed wireless service. We’re also working with partners across the technology industry to develop the ecosystem of devices and network components to make 5G a reality. We believe these initiatives – leveraged by our strong spectrum and fiber assets – will give us a crucial first-mover advantage in capitalizing on these new markets.
        %p In keeping with our history of network innovation, we are also reinventing our network architecture around a common fiber platform that will support all of Verizon’s businesses. This new “One Fiber” architecture will improve our 4G LTE coverage, speed the deployment of 5G and deliver high-speed broadband to homes and businesses of all sizes. We launched One Fiber in Boston in 2016 and plan to invest $300 million over six years to deploy it throughout the city. Going forward, we will have further opportunities for expansion with the recently acquired XO Communications, which has fiber and spectrum assets in 45 of the 50 largest markets across the U.S.
        %p Through every generation of technology, we have used network innovation to open new opportunities for growth and deliver superior service to customers. We remain dedicated to providing the foundation for the connected life on which our customers depend.
        .scheme
          %img(src="images/ceo/scheme.png" alt="")
      .col-xs-1.empty
    .letter-container-section
      #aside2.aside
        %h3 Delivering for customers
        %img(src="images/ceo/2.svg" alt="")
      .letter-content
        %p When J.D. Power asked customers  in 2016 to rate the quality of their communications services, Verizon ranked #1 in three out of four regions for residential internet service, five out of six regions surveyed for wireless, and highest overall among U.S. large business customers. These ratings speak to both the excellence of our networks and the dedication of our employees to delivering superior customer service.
        %p
          Those attributes also result in Verizon’s having a high-quality, loyal customer base. In wireless, we ended the year with 114.2 million retail connections, up 1.9 percent year over year. In 2016 we added 1.3 million postpaid smartphones and maintained our industry-leading retail postpaid phone churn of less than 0.9 percent for the year, showing that customers do indeed believe that “better matters.” Customers responded strongly to innovations such as Safety Mode and carry-over data plans that give them more control over their wireless usage.
          %br>/
          In our wireline business, we ended the year with 5.7 million Fios Internet and 4.7 million Fios Video customers.  We’re growing by showing customers that our all-fiber Fios service is indeed “wired differently” and delivering a steady stream of innovations like 750 mbps “Instant Internet” and our popular Custom TV packages. Fios revenue growth remains strong, and we see more opportunity to grow as we penetrate big urban markets like Boston, New York and Philadelphia.
        %p Our Enterprise Solutions group provides global clients with services such as advanced connectivity, collaboration and managed services. Among our customer wins in 2016 were contracts with Target, Oracle, AECOM, ICICI Bank, Nanyang Technological University and several U.S. federal government agencies.
        %p We’re not only changing what we deliver to customers, but also how we deliver it as we transform our processes and customer interactions around a digital model.
        .photo2
          %img(src="images/ceo/1.jpg" alt="")
        %p The most obvious driver of the trend toward digital commerce is the millennial customer: the Snapchat generation that will account for 60 percent of U.S. purchasing power by 2020. But digital disruption is widespread and crosses all demographics, and whether it’s ordering a ride from Uber, shoes from Zappos or groceries from Amazon, frictionless online commerce is rapidly becoming the norm in the digital economy. In 2016 Verizon made a big shift toward this digital-first model by introducing a new My Verizon app that enables customers to purchase services and manage their relationship with us on their mobile device. After its first six months, the new app serves 14.5 million customers and accounts for 13.4 percent of our digital sales. We will continue to simplify our products and processes and improve all our touch points with customers so that we earn their loyalty every day.
        %p With so much of daily life and commerce dependent on our networks, we take our responsibility to deliver the promise of the digital world to customers very seriously. With every technological advance, the potential for creating value – for shareholders and for society – gets wider and more exciting. At the same time, we have a responsibility for spreading the opportunities afforded by the digital world as widely as possible, which is why we’ve made access to technology and tech education a focus of the Verizon Foundation. Currently, occupations in science, technology, engineering and math (STEM) are growing at twice the rate of other jobs, yet millions of these openings are going unfilled because there are too few qualified workers to fill the demand. In particular, children in underserved communities lack exposure to STEM jobs and, as a result, are underrepresented in technical fields.
        %p We’re tackling this issue through an initiative called Verizon Innovative Learning that provides free technology, access and immersive, hands-on learning to students and teachers, particularly in underserved communities. In addition, we host a nationwide contest that challenges students to use technology to solve real-world problems, provide free summer technology camps on university campuses, run free technology workshops at select Verizon Wireless stores and much more. We’ve also launched a campaign called #weneedmore to call attention to the millions of students from underserved communities who lack technology in schools and exposure to careers in science and technology fields. Our goal is to get others involved in the mission to expose young people to the opportunities the digital world offers and give every student an equal chance at success. For more detail, visit Verizon.com/about/responsibility and www.weneedmore.com.
      .col-xs-1.empty
  .photo
    %img(src="images/ceo/2.jpg" alt="")
  .letter-container
    .letter-container-section
      #aside3.aside
        .aside-block.aside-block__3
          %h3 Building the  growth platform
          %img(src="images/ceo/3.svg" alt="")
        .aside-block.aside-block__4
          %h3 Focus on the fundamentals
          %img(src="images/ceo/4.svg" alt="")
        .aside-block.aside-block__5
          %h3 Better matters
          %img(src="images/ceo/5.svg" alt="")
      .letter-content
        %p To drive future growth, we are developing the platforms, content and applications that will increase usage on our network and monetize our investment in world-class infrastructure. For several years we have been building our video assets with the goal of creating new ways to reach customers who access their video content primarily on mobile devices. According to a Cisco study, mobile video is growing at a compound annual rate of 62 percent and will account for 75 percent of the traffic on wireless networks by 2020.
        %p The centerpiece of our strategy in the evolving media marketplace is AOL, which enjoyed sequential revenue growth throughout 2016. Average daily use of our mobile-first content engine, Go90, is up to 30 minutes per viewer as we add more unique programming through partnerships with Awesomeness TV, Complex Media, professional sports leagues and other programmers. In 2016, we announced our intention to acquire Yahoo. Together, AOL and Yahoo would give us some 1.3 billion users and provide us with added scale and content to make us a strong competitive force in digital advertising, which is expected to grow to be a $90 billion global market by 2020.
        %p We also strengthened our position in the IoT marketplace, particularly in telematics, or connected transportation solutions. This is a fast-growing area for Verizon; in the fourth quarter, organic revenue growth from our IoT businesses was 21 percent year over year, and annualized revenues are approaching $1 billion. In fact, with the acquisitions of Fleetmatics and Telogis in 2016, Verizon is now the #1 telematics company in the U.S., and we have the assets and expertise to address the global market for connected fleet services, expected to grow to $40 billion worldwide by 2020.
        %p More broadly, we’re building the platforms and products to seamlessly connect people and vehicles to the physical environment. Our consumer telematics product, Hum, is gaining subscribers, and we will add to its capabilities this year. Our IoT platform, ThingSpace, supports more than 13,000 developers who are embedding mobility into a wide range of products and applications that will connect to our 4G LTE wireless network. We also acquired two companies in the nascent “smart cities” marketplace, giving us a robust suite of services we can offer to municipalities, campuses and other communities to ease traffic congestion, make neighborhoods safer, manage energy and engage citizens. These kinds of solutions will also leverage our One Fiber investment in Boston and eventually across the country.
        %p Our goal with our digital media, IoT and smart cities initiatives is to create new growth engines for Verizon by staying ahead of the trends in a transforming marketplace. Our focus now is to integrate these businesses, gain scale and build the global franchises that will contribute meaningfully to Verizon’s growth.
    .letter-container-section
      #aside4.aside
        %h3 Focus on the fundamentals
        %img(src="images/ceo/4.svg" alt="")
      .letter-content
        %p Achieving growth in a challenging environment remains our top priority.  Total operating revenues for the year were nearly $126 billion. Adjusting for revenues attributable to AOL and the divested wireline properties, total operating revenues were down 2.4 percent for the year on a comparable basis despite a solid operating performance. Adjusted earnings per share were $3.87 (non-GAAP), down 3 percent year over year. In wireless, revenues declined by 2.7 percent year over year as we transition to a new pricing model and deal with the effects of intensifying competition. Total wireline revenues decreased by 2.3 percent for the year, but Fios revenue growth was strong, at 4.6 percent year over year.
        %p Throughout this rapidly changing business environment, our commitment to financial discipline is unwavering. Total return to shareholders in 2016 was 20.7 percent, which includes our tenth consecutive dividend increase. Our cash flows funded $17.1 billion of capital investment to maintain our network advantage and build new businesses, and our strong balance sheet gives us the financial flexibility to grow the business. In 2016, we improved our strategic position by divesting three telephone properties, continued to drive  process efficiencies and negotiated new labor contracts that will yield $500 million in cash savings as well as other benefits over the life of the contracts. We also negotiated the sale of our data center assets, a transaction expected to close in second-quarter 2017.
        %img.photo3(src="images/ceo/3.jpg" alt="")
    .letter-container-section
      #aside5.aside
        %h3 Better matters
        %img(src="images/ceo/5.svg" alt="")
      .letter-content
        %p In a marketplace where some of our competitors ask customers to compromise on network quality, we at Verizon are united in our belief that “better matters” and confident of the unique role we play in delivering all the benefits of the digital world to our customers. In a year marked by hurricanes, floods, fires and other natural disasters, our employees proved once again that the best network is made up, not just of glass and cell towers, but also of the best people who go the extra mile for the customer.
        %p I’m grateful to our leadership team for their dedication and to our Board of Directors for their strategic guidance. All of us feel privileged to lead this great company.
        %p Over our history, we have used periods of change in technology and industry structure to grow our company and move the industry forward.  We’re excited by that challenge in 2017 and beyond. We look forward to developing our capabilities, building our resources, and making our networks stronger, faster and better so that we continue to be the premier company in delivering the promise of the digital age.
        %br>/
        %img(src="images/ceo/signature.png" alt="")
        %p
          %b Lowell McAdam
          %br>/
          Chairman and Chief Executive Ofﬁcer
          %br>/
          Verizon Communications Inc.


= partial(:"footer", :locals => { :lvl1 => lvl1 })
